target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
jcef-bundle/
debug.log
dependency-reduced-pom.xml

ivi_settings.json

### IntelliJ IDEA ###
.idea/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store